<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Default"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='{0}';Persist Security Info=True;User ID=olobolo;User Instance=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="UseMsSQL" value="true"/>
		<add key="DatabaseDirectory" value="..\..\..\DB\Test.mdf"/>
    </appSettings>
</configuration>